bin
.git
gen
gen-aa
.eclipse
.settings
proguard_logs
proguard
/classes
*.apk
/.idea/workspace.xml
/.idea/tasks.xml
build.xml
out
local.properties
*.log
/.gradle
/gradle
/build
/release.gradle

/.idea/libraries/*